.contact{
    border: 1px solid rgb(104, 24, 7);
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,250px);
}