header{
  background-color: #f5ba13;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.create-note form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form button{
  background-color: #f5ba13;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form input, form textarea{
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
} 

.create-note{
  border: #f5ba13 1px solid;
  width: 40%;
  margin-left: 30%;
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
}

.notes{
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-left: 4px;
  margin-right: 4px;
}

.note {
  border: 1px solid #f5ba13;
  padding: 10px;
  border-radius: 5px;
}

.note button{
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  float: right;

}

footer{
  background-color: #f5ba13;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}