*{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
}

button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

main{
    width: 100%;
    height:550px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1{
    font-size: 60px;
}

footer p{
    color: grey;
    text-align: center;
}
