header {
    display: flex;
    border: 2px solid yellow;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    background-color: gold
}

.cart{
    position: relative;
}

.cart div{
    font-weight: bold;
    background-color: tomato;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    left: 15px;
    bottom: 20px;
}